.register__container {
    margin: 2rem auto;
    background-color: whitesmoke;
    padding: 2rem;
    max-width: 300px;
    border-radius: 8px;
}

.register__title {
    font-size: 22px;
}

.register__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.register__input {
    width: 16rem;
    border: 1px solid #d7d3d3;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    margin: 0.5rem 0;
}

.register__btn {
    width: 16rem;
    padding: 0.5em;
    margin-top: 1.5rem;
    color: white;
    background-color: #f85555;
}